dialog {
  width: 90%;
  max-width: 400px;
  margin: auto;
  border: 1px solid var(--bd-color);
  border-radius: 10px;
  padding: 20px;
  outline: none;
  opacity: 0;
  scale: 0;
  transition: all 0.3s ease, display 0.3s ease allow-discrete;

  &::backdrop {
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;

    @starting-style {
      background-color: transparent;
      backdrop-filter: blur(0);
    }
  }

  &:open {
    opacity: 1;
    scale: 1;
    display: flex;
    flex-direction: column;
    gap: 1em;
    transition: all 0.3s ease;

    @starting-style {
      opacity: 0;
      scale: 0;
    }
  }
}
