* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  font-family: "Inter";

  --text-primary: oklch(25.74% 0.09538 313.229);
  --bg: oklch(from var(--text-primary) 96% calc(c * 0.15) h);
  --text-secondary: oklch(from var(--text-primary) 50% c h);
  --accent-glow: oklch(from var(--text-primary) 40% c h);
  --accent-light: oklch(from var(--text-primary) 82.5% calc(c * 0.5) h);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--text-primary);
  letter-spacing: -0.05em;
}

.icon {
  height: 1.1em;
  stroke: currentColor;
  object-fit: contain;
}

input,
button {
  font-family: inherit;
  font-size: inherit;
}

body {
  width: 100vw;
  min-height: 100dvh;
  background: var(--bg);
  padding: 3em 2em;
  color: var(--text-secondary);
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: clamp(0.8em, 2vw, 1em);
  overflow-x: hidden;
  gap: 1em;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.board {
  width: 100%;
  max-width: 700px;
  background: #fff;
  padding: clamp(2em, 5vw, 3em);
  border-radius: 20px;
  box-shadow: 0 2px 5px #0001;
  display: flex;
  flex-direction: column;
  gap: 3em;

  .header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    row-gap: 1.5em;

    .header-title,
    .select-quarters {
      flex: 1;
    }

    .header-title {
      display: flex;
      flex-direction: column;
      gap: 0.5em;
      white-space: nowrap;

      span {
        font-weight: 500;
      }
    }
    .progress-bar {
      flex-basis: 100%;
      display: flex;
      flex-direction: column;
      gap: 0.2em;
      cursor: pointer;

      header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        color: var(--text-secondary);

        span {
          font-weight: 600;
          text-transform: uppercase;
          font-size: 90%;
        }

        output {
          font-weight: 600;
        }
      }
      .bar {
        width: 100%;
        height: 8px;
        background: var(--bg);
        border-radius: 9999px;
        overflow: hidden;

        .progress {
          width: 0;
          height: 100%;
          background: var(--text-primary);
          border-radius: 9999px;
          transition: all 0.3s ease;
        }
      }
    }

    .select-quarters {
      display: flex;
      align-self: center;
      justify-content: end;
      gap: 0.5em;

      > span {
        font-weight: 600;
        text-transform: uppercase;
        font-size: 85%;
        text-align: right;
        display: flex;
        align-items: center;
      }
    }
  }

  .habits {
    display: flex;
    flex-direction: column;
    gap: 3em;

    section {
      display: flex;
      flex-direction: column;
      gap: 1em;

      header {
        display: flex;
        align-items: center;
        gap: 1em;
        line-height: 1;
        color: var(--text-secondary);

        svg {
          stroke-width: 3;
        }

        h3 {
          flex: 1;
          text-transform: uppercase;
          letter-spacing: normal;
          color: inherit;
          display: flex;
          align-items: center;
          gap: inherit;

          &::after {
            content: "";
            flex: 1;
            height: 1px;
            background: var(--bg);
          }
        }
      }

      ul {
        display: flex;
        list-style-type: none;
        flex-direction: column;
        gap: 0.8em;

        li,
        label {
          display: flex;
          gap: 0.5em;
          align-items: center;
          cursor: pointer;
        }

        li {
          flex: 1;
          transition: all 0.3s ease;
          border-radius: 1em;
          border: 1px solid rgba(0, 0, 0, 0.02);
          box-shadow: 0 2px 4px rgba(0, 0, 0, 0.02);
          padding-right: 1em;
          font-size: 1.2em;
          color: var(--text-primary);

          label {
            padding: 1em;
            flex: 1;
            letter-spacing: -0.02em;
            font-weight: 500;

            .check {
              display: flex;
              align-items: center;
              justify-content: center;
              background: var(--bg);
              padding: 0.2em;
              border-radius: 0.5em;
              border: 2px solid var(--accent-light);
              transition: all 0.3s ease;
              svg {
                stroke-width: 3;
                color: #fff;
                opacity: 0;
              }
            }

            span {
              transition: all 0.3s ease;
              line-height: 1;
            }
          }

          .buttons {
            display: flex;
            gap: 0.2em;

            svg {
              stroke-width: 2;
            }
          }

          input[type="checkbox"] {
            display: none;
          }

          &:hover {
            transform: translateY(-2px);
            box-shadow: 0 8px 20px rgba(0, 0, 0, 0.06);
            border-color: rgba(0, 0, 0, 0.05);

            .check {
              border-color: var(--accent-glow);
            }
          }

          &:has(input:checked) {
            span {
              text-decoration: line-through;
              opacity: 0.6;
            }

            .check {
              background: var(--accent-glow);
              border-color: var(--accent-glow);
              svg {
                opacity: 1;
              }
            }
          }
        }
      }
    }
  }
}

.btn-sec {
  background: none;
  border: none;
  cursor: pointer;
  display: flex;
  align-items: center;
  font-size: 1.2em;
  padding: 0.4em;
  border-radius: 0.4em;
  transition: all 0.3s ease;
  color: var(--accent-glow);

  &:hover {
    background: var(--bg);
  }
}

dialog > main,
.add-habit {
  display: flex;
  flex-direction: column;
  gap: 1.5em;
  font-size: 1.2em;

  form {
    display: flex;
    flex-direction: column;
    gap: 1em;
  }
  p {
    font-size: 0.85em;
    color: var(--text-secondary);
  }

  .quarters {
    width: 100%;
    justify-content: space-evenly;
  }

  label {
    display: flex;
    flex-direction: column;
    gap: 0.2em;
    font-size: 0.9em;
    font-weight: 600;
    color: var(--text-secondary);
    text-transform: uppercase;
  }

  header {
    color: var(--text-secondary);
  }

  input,
  textarea {
    background: transparent;
    border: 1px solid var(--accent-light);
    padding: 0.5em;
    border-radius: 0.5em;
    background: var(--bg);
    color: var(--accent-glow);
    outline: none;
  }

  textarea {
    resize: vertical;
    min-height: 5em;
    max-height: 15em;
  }

  .buttons {
    display: flex;
    gap: 0.5em;
    margin-top: 10px;

    button {
      flex: 1;
      font-weight: 600;
      padding: 0.5em;
      color: var(--bg);
      border: 1px solid var(--accent-glow);
      background: var(--accent-glow);
      cursor: pointer;
      border-radius: 0.5em;
      font-size: 0.85em;
      transition: all 0.3s ease;

      &:hover {
        background-color: var(--accent-light);
        border-color: var(--accent-light);
        color: var(--text-primary);
      }

      &.ghost {
        background: none;
        color: var(--accent-glow);
        border-color: var(--accent-light);

        &:hover {
          background-color: var(--bg);
          color: var(--accent-glow);
        }
      }
    }
  }
}

.quarters {
  width: max-content;
  display: flex;
  gap: 0.2em;
  align-items: center;
  background: var(--bg);
  padding: 0.3em;
  border-radius: 0.5em;

  label {
    input {
      display: none;
    }
    span {
      display: flex;
      padding: 0.2em 0.5em;
      border-radius: 0.5em;
      font-weight: 500;
      cursor: pointer;
      transition: all 0.3s ease;
    }

    input:checked + span {
      background: #fff;
      box-shadow: 0 1px 2px #0003;
    }
  }
}
